iframe {
  margin: 20px 10px;
  border-radius: 10px; }

iframe:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: .5s; }

header .redesSociales .facebook, header .redesSociales .instagram {
  font-size: 2rem;
  margin-top: 20%;
  margin-right: 10%; }

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.gridContenedorIndex {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-size: 25px; }

.hijoUnoIndex {
  grid-area: 1 / 1 / 2 / 6; }

.hijoDosIndex {
  grid-area: 2 / 1 / 7 / 6; }

.hijoDosIndex, .jobs {
  background: black;
  background: linear-gradient(90deg, black 0%, #000382 57%, #00fdff 100%);
  height: 100%; }

.hijoDosIndex h1 {
  margin-top: 2%; }

.hijoDosIndex p {
  font-size: 1.7rem;
  margin: 0 20%; }

.hijoTresIndex {
  grid-area: 7 / 1 / 8 / 6; }

.logo {
  height: 5rem;
  margin: 0;
  display: flex; }
  .logo:hover {
    background-color: #383838;
    border-radius: 100%;
    transition: .3s; }
  .logo:not(hover) {
    height: 5.0rem;
    transition: .3s; }

header {
  width: 100%;
  height: 100%;
  background-color: black;
  color: aqua; }
  header .nav-link:hover {
    color: aqua !important;
    font-size: 1.7rem;
    transition: .3s; }
  header .nav-link:not(hover) {
    transition: .3s; }
  header li {
    display: flex;
    justify-content: center;
    align-items: center; }
  header .redesSociales {
    display: flex;
    justify-content: space-evenly;
    align-items: none; }
    header .redesSociales .facebook {
      color: blue; }
      header .redesSociales .facebook:hover {
        color: aqua;
        font-size: 2.1rem;
        transition: .3s; }
      header .redesSociales .facebook:not(hover) {
        transition: .3s; }
    header .redesSociales .instagram {
      color: deeppink; }
      header .redesSociales .instagram:hover {
        color: aqua;
        font-size: 2.1rem;
        transition: .3s; }
      header .redesSociales .instagram:not(hover) {
        transition: .3s; }
    header .redesSociales .whatsapp {
      color: greenyellow;
      font-size: 2rem;
      margin-top: 20%;
      margin-right: 20%; }
      header .redesSociales .whatsapp:hover {
        color: aqua;
        font-size: 2.1rem;
        transition: .3s; }
      header .redesSociales .whatsapp:not(hover) {
        transition: .3s; }

main {
  text-align: center;
  color: white;
  background-color: black; }

footer {
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: none;
  text-transform: uppercase;
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100%; }

.hijoTresIndex {
  grid-area: 7 / 1 / 8 / 6; }

.hijoTresIndex p {
  margin-top: 42px; }

@media all and (max-width: 1100px) {
  label {
    font-size: 20px;
    margin: 0px;
    text-align: center; }
  header .redesSociales {
    justify-content: center;
    margin-right: 5%; }
  header .redesSociales .facebook, header .redesSociales .instagram {
    margin: 0%; }
  header .redesSociales .whatsapp {
    margin: 0%; } }

@media all and (max-width: 700px) {
  .hijoDosIndex pre {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0%; }
  .aboutMe {
    background: black;
    background: linear-gradient(90deg, black 0%, #000382 57%, #00fdff 100%); }
  .aboutMe h1 {
    font-size: 30px; }
  .aboutMe h3 {
    font-size: 20px;
    margin: 0 20px; }
  .aboutMe p {
    font-size: 20px; }
  label {
    text-align: center; }
  iframe {
    margin: 4% 0 0 0;
    width: 150px;
    height: 150px; }
  .showreel {
    width: 90%;
    height: 85%; } }

@media all and (max-width: 450px) {
  .linkNav {
    font-size: 12px; }
  header .redesSociales {
    justify-content: center;
    margin-right: 10%; }
  footer {
    font-size: 12px; } }

.hijoDosIndex main {
  background: black;
  background: linear-gradient(90deg, black 0%, #000382 57%, #00fdff 100%);
  height: 100%; }

.hijoDosIndex pre {
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.hijoDosIndex a {
  text-decoration: none;
  color: aliceblue; }

.padreFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: padreFlex 2s ease 1s infinite normal backwards; }

@keyframes padreFlex {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 1; } }

pre {
  margin: 12rem; }

pre:hover {
  font-size: 42px;
  transition: .5s; }

pre:not(hover) {
  transition: .5s; }

pre a:hover {
  color: aqua; }

.form-label {
  color: bisque; }

a {
  text-decoration: none;
  color: white; }

.hijoDosIndex main {
  background: black;
  background: linear-gradient(90deg, black 0%, #000382 57%, #00fdff 100%);
  height: 100%; }

.hijoDosIndex pre {
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.hijoDosIndex a {
  text-decoration: none;
  color: aliceblue; }

.padreFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: padreFlex 2s ease 1s infinite normal backwards; }

@keyframes padreFlex {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 1; } }

pre {
  margin: 12rem; }

pre:hover {
  font-size: 42px;
  transition: .5s; }

pre:not(hover) {
  transition: .5s; }

pre a:hover {
  color: aqua; }

iframe:not(hover) {
  transition: .5s; }

.hijoDosIndex iframe:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.98); }

iframe:hover iframe:not(hover) {
  transition: .5s; }

.hijoDosIndex iframe:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.98); }

.showreel {
  margin: 10px; }
