* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gridContenedorIndex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-size: 25px;
}

.hijoUnoIndex {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 1 / 1 / 2 / 6;
}

.hijoDosIndex {
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 2 / 1 / 7 / 6;
}

.hijoDosIndex, .jobs {
  background: black;
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(57%, #000382), to(#00fdff));
  background: linear-gradient(90deg, black 0%, #000382 57%, #00fdff 100%);
  height: 100%;
}

.hijoTresIndex {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 7 / 1 / 8 / 6;
}

.hijoTresIndex p {
  margin-top: 60px;
}

.logo {
  height: 5rem;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo:hover {
  background-color: #383838;
  border-radius: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

.logo:not(hover) {
  height: 5.0rem;
  -webkit-transition: .3s;
  transition: .3s;
}

header {
  width: 100%;
  height: 100%;
  background-color: black;
  color: aqua;
}

header .nav-link:hover {
  color: aqua !important;
  font-size: 1.7rem;
  -webkit-transition: .3s;
  transition: .3s;
}

header .nav-link:hover:not(hover) {
  -webkit-transition: .3s;
  transition: .3s;
}

header li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .redesSociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .redesSociales .facebook {
  color: blue;
  font-size: 2rem;
  margin-top: 20%;
  margin-right: 10%;
}

header .redesSociales .facebook:hover {
  color: aqua;
  font-size: 2.1rem;
  -webkit-transition: .3s;
  transition: .3s;
}

header .redesSociales .facebook:not(hover) {
  -webkit-transition: .3s;
  transition: .3s;
}

header .redesSociales .instagram {
  color: deeppink;
  font-size: 2rem;
  margin-top: 20%;
  margin-right: 10%;
}

header .redesSociales .instagram:hover {
  color: aqua;
  font-size: 2.1rem;
  -webkit-transition: .3s;
  transition: .3s;
}

header .redesSociales .instagram:not(hover) {
  -webkit-transition: .3s;
  transition: .3s;
}

header .redesSociales .whatsapp {
  color: greenyellow;
  font-size: 2rem;
  margin-top: 20%;
  margin-right: 20%;
}

header .redesSociales .whatsapp:hover {
  color: aqua;
  font-size: 2.1rem;
  -webkit-transition: .3s;
  transition: .3s;
}

header .redesSociales .whatsapp:not(hover) {
  -webkit-transition: .3s;
  transition: .3s;
}

main {
  text-align: center;
  color: white;
  background-color: black;
}

footer {
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.hijoTresIndex {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 7 / 1 / 8 / 6;
}

.hijoTresIndex p {
  margin-top: 60px;
}

@media all and (max-width: 1100px) {
  label {
    font-size: 20px;
    margin: 0px;
    text-align: center;
  }
}

@media all and (max-width: 700px) {
  .hijoDosIndex pre {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0%;
  }
  .aboutMe {
    background: black;
    background: -webkit-gradient(linear, left top, right top, from(black), color-stop(57%, #000382), to(#00fdff));
    background: linear-gradient(90deg, black 0%, #000382 57%, #00fdff 100%);
    height: 100vh;
  }
  .aboutMe h2 {
    font-size: 20px;
  }
  .aboutMe h3 {
    font-size: 15px;
  }
  .aboutMe p {
    font-size: 15px;
  }
  label {
    font-size: 15px;
    margin: 0px;
    text-align: center;
  }
}

@media all and (max-width: 450px) {
  .linkNav {
    font-size: 12px;
  }
  footer {
    font-size: 12px;
  }
}

.hijoDosIndex main {
  background: black;
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(57%, #000382), to(#00fdff));
  background: linear-gradient(90deg, black 0%, #000382 57%, #00fdff 100%);
  height: 100%;
}

.hijoDosIndex pre {
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hijoDosIndex a {
  text-decoration: none;
  color: aliceblue;
}

.padreFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: padreFlex 2s ease 1s infinite normal backwards;
          animation: padreFlex 2s ease 1s infinite normal backwards;
}

@-webkit-keyframes padreFlex {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes padreFlex {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

pre {
  margin: 12rem;
}

pre:hover {
  font-size: 45px;
  -webkit-transition: .5s;
  transition: .5s;
}

pre a:hover {
  color: aqua;
}

.form-label {
  color: bisque;
}

label {
  font-size: 20px;
  margin: 0px 500px;
  text-align: center;
}

input {
  width: 30%;
  padding: 5px 10px;
  margin: 1.5% 10%;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

.hijoDosIndex main {
  background: black;
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(57%, #000382), to(#00fdff));
  background: linear-gradient(90deg, black 0%, #000382 57%, #00fdff 100%);
  height: 100%;
}

.hijoDosIndex pre {
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hijoDosIndex a {
  text-decoration: none;
  color: aliceblue;
}

.padreFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: padreFlex 2s ease 1s infinite normal backwards;
          animation: padreFlex 2s ease 1s infinite normal backwards;
}

@keyframes padreFlex {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

pre {
  margin: 12rem;
}

pre:hover {
  font-size: 45px;
  -webkit-transition: .5s;
  transition: .5s;
}

pre a:hover {
  color: aqua;
}

iframe {
  margin: 20px 10px;
  border-radius: 10px;
}

iframe:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: .5s;
  transition: .5s;
}

iframe:not(hover) {
  -webkit-transition: .5s;
  transition: .5s;
}

.hijoDosIndex iframe:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.98);
}

iframe {
  margin: 20px 10px;
  border-radius: 10px;
}

iframe:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: .5s;
  transition: .5s;
}

iframe:not(hover) {
  -webkit-transition: .5s;
  transition: .5s;
}

.hijoDosIndex iframe:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.98);
}

.showreel {
  margin: 10px;
}
/*# sourceMappingURL=style.css.map */