.form-label{
    color: bisque;
}

label{
    font-size: 20px;
    margin: 0px 500px;
    text-align: center;
}

input{
    width: 30%;
    padding: 5px 10px;
    margin: 1.5% 10%;
    border-radius: 4px;
    box-sizing: border-box;
  }

a{
    text-decoration: none;
    color: white;
}
