iframe{
    @extend %iframe;
}

iframe:hover{
    @extend %iframeHover;
    
    iframe:not(hover){
        transition: .5s;
    }
}

.hijoDosIndex iframe:hover{
    -webkit-transform:scale(.9);
    transform:scale(.98);
}

.showreel{
    margin: 10px;
}
