*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.gridContenedorIndex{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-size: 25px;
}
.hijoUnoIndex{
    grid-area: 1 / 1 / 2 / 6;
}
.hijoDosIndex{
    grid-area: 2 / 1 / 7 / 6;
}
.hijoDosIndex, .jobs{
    background: map-get($colores, header);
    background: map-get($colores, bg);
    height: 100%;
}
.hijoDosIndex h1{
    margin-top: 5%;
}
.hijoDosIndex p{
    font-size: 1.7rem;
    margin: 0 20%;
}
.hijoTresIndex{
    grid-area: 7 / 1 / 8 / 6;
}
.logo{
    height: 5rem;
    margin: 0;
    display: flex;

        &:hover{
            background-color: rgb(56, 56, 56);
            border-radius: 100%;
            transition: .3s;
        }
        &:not(hover){
            height: 5.0rem;
            transition: .3s;
        }
}

header{
    width: 100%;
    height: 100%;
    background-color: map-get($colores, header);
    color: map-get($colores, hover);

    .nav-link:hover{
        color: map-get($colores, hover) !important;
        font-size: 1.7rem;
        transition: .3s;

    }
    .nav-link:not(hover){
        transition: .3s;
    }
    li{
        @include flexbox(center, center);
    }

    .redesSociales{
        @include flexbox(space-evenly, none);
    
        .facebook{
            color: blue;
            @extend %redes;
            
                &:hover{
                    color: map-get($colores, hover);
                    font-size: 2.1rem;
                    transition: .3s;
                }
                &:not(hover){
                    transition: .3s;
                }
            }
            
        .instagram{
            color: deeppink;
            @extend %redes;
    
                &:hover{
                    color: map-get($colores, hover);
                    font-size: 2.1rem;
                    transition: .3s;
                }
                &:not(hover){
                    transition: .3s;
                }
        }
    
        .whatsapp{
            color: greenyellow;
            font-size: 2rem;
            margin-top: 20%;
            margin-right: 20%;
            
                &:hover{
                color: map-get($colores, hover);
                font-size: 2.1rem;
                transition: .3s;
            }
                &:not(hover){
                    transition: .3s;
                }
        }
    }
}
    
main{
    text-align: center;
    color: map-get($colores, letras);
    background-color: map-get($colores, header);
}
footer{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: map-get($colores, header);
    color: map-get($colores, letras);
    @include flexbox(center, none);
    text-transform: uppercase;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;    
}
.hijoTresIndex{
    grid-area: 7 / 1 / 8 / 6;
}
.hijoTresIndex p{
    margin-top: 42px;
}
@media all and (max-width:1100px) { 
    label{
        font-size: 20px;
        margin: 0px;
        text-align: center;
    }
    header .redesSociales{
        justify-content: center;
        margin-right: 5%;
    }
    header .redesSociales .facebook, header .redesSociales .instagram{
        margin: 0%;
    }
    header .redesSociales .whatsapp{
        margin: 0%;
    }
}
@media all and (max-width:700px) { 
    .hijoDosIndex pre{
        font-size: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0%;
    }
    .aboutMe{
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,3,130,1) 57%, rgba(0,253,255,1) 100%);
        height: 100vh;
    }
    .aboutMe h1{
        font-size: 30px;
    }
    .aboutMe h3{
        font-size: 20px;
        margin: 0 20px;
    }
    .aboutMe p{
        font-size: 18px;
    }
    label{
        font-size: 15px;
        margin: 0px;
        text-align: center;
    }
    iframe{
        margin: 4% 0 0 0;
        width: 150px;
        height: 150px;
    }
    .showreel{
        width: 90%;
        height: 95%;
    }
}
@media all and (max-width:450px) {
    .linkNav{
        font-size: 12px;
    }
    header .redesSociales{
        justify-content: center;
        margin-right: 10%;
    }
    footer{
        font-size: 12px;
    }
}